*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html{
    /* font-size:62.5%; */
    font-size:10px;
    /* 默认字体大小 */
}
body{
    font-size:1.2rem;
    /* 默认字体大小 */
    min-width:320px;
    /* 最小宽度 */
}

/* 工具类Css样式 */
.header .menu::after{
    content: "";
    display:block;
    clear: both;
}

/* 页面头部 */
.header{
    width: 100%;
}
.header div{
    padding: 0 1.5rem;
}
.header .top{
   height: 30px;
   line-height: 30px;
   color: #fff;
   background-color: #333;
}
.header .top p{
    display: inline-block;
}
.header .top .tal{
    float: left;
}
.header .top .word{
    float: right;
}
@media screen and (max-width: 420px) {
    .header .top .tel{
        display: none;
    }
}

.header .menu{
    line-height: 5rem;
    background-color: #fff;
}
.header .menu p{
    float: left;
    width:10rem;
    height:5rem;
}
.header .menu p img{
    height: 100%;
}
.header .menu ul{
    float: right;
}
.header .menu ul li{
    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 0 1rem;
}
.header .menu ul li a{
    color: #000;
    font-size: 1.8rem;
}


@media screen and (max-width:700px){
    .header .menu p{
        /* display:block; */
        float: none;
        margin:0 auto;
    }    
    .header .menu ul{
        float:none;
        width:100%;
        text-align: center;
    }
    .header .menu ul li:nth-child(1){
        display:none;
    }
}
@media screen and (max-width:420px){
    .header .menu ul li:nth-child(1),
    .header .menu ul li:nth-child(2)
    {
        display:none;
    }
}

.header .intro{
    width: 100%;
    background-color: #333
}
.header .intro div{
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
}
.header .intro div .tea{
    color: #fff;
    line-height: 5rem;
}

.header .intro div .stu{
    color: #fff;
    line-height: 5rem;
    float: right;
}
@media screen and (max-width: 700px) {
    .header .intro div a{
        font-size: 1.4rem;
    }
}


/* 页面主要内容 */

/* 轮播图区 */
.content{
    width: 100%;
}
.lbt{
    position: relative;
    margin-bottom: 30px;
}
.slider-list{
    width: 100%;
    height: 300px;
}
.slider-list .slider{
    position: relative;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding: 0 100px;
    background-size: cover;
    background-position: center;
}
.slider-list .slider:nth-of-type(1) {
    background-image: url('../img/bg-1.jpg')
}
.slider-list .slider:nth-of-type(2) {
    display: none;
    background-image: url('../img/bg-2.jpg');
}
.slider-list .slider:nth-of-type(3) {
    display: none;
    background-image: url('../img/bg-3.jpg');
}
.slider-list .slider .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.slider-list .slider .title p{
    font-size: 16px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.slider-list .slider:nth-of-type(1) .title p{
    font-size: 20px;
}
.slider-btn{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
}
.slider-btn:after{
    content: '';
    clear: both;
}
.slider-btn .left-btn{
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    background-image: url('../img/left-btn.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.slider-btn .right-btn{
    float: right;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background-image: url('../img/right-btn.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.slider-order{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.slider-order ul{
    display: inline-block;
    
}
.slider-order ul li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #666;
    margin-right: 20px;
}
.slider-order ul li:last-of-type{
    margin-right: 0;
}
.slider-order ul li.active{
    background: #fff;
}
@media screen and (max-width: 420px) {
    .slider-list {
        height: 200px;
    }
    .slider-list .slider{
        height: 200px;
    }
}

.feature{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
    display:flex;
}
.feature div{
    flex:1;
    border:2px solid #ddd;
    text-align: center;
    margin:1rem;
}
.feature h3,
.feature p
{
    display: inline-block;
    vertical-align: middle;
}
.feature h3{
    padding:1rem;
    font-size: 3rem;
    color: rgb(12, 151, 243);
}
.feature p{
    font-size: 1.6rem;
    color: #ccc;
}

.product{
    width:90%;
    display: flex;
    margin:2rem auto;
    border-top: 2px  solid #2d78f4;
    box-shadow: 0 0 4px #ccc;
    background-color:#eee;
}
.product .left{
    display:inline-block;
    width:20%;
    text-align: center;
    color:#333;
}
.product .left h2{
    margin-top: 2rem;
}
.product .left p{
    margin-top: 1rem;
}
.product .right{
    width:80%;
    display:inline-block;
    background-color:#fff;
}
.product .right .ri-item{
    display:flex;
    line-height: 8rem;
}
.product .right .ri-item div{
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.product .right .ri-item .ri-item-title{
    width:30%;
    text-align: center;
}
.product .right .ri-item .ri-item-inte{
    width:50%;
    text-align: center;   
}
.product .right .ri-item .ri-item-go{
    width:20%;
    text-align: center;
}
.product .right .ri-item .ri-item-go a{
    font-size: 2rem;
    color: #2d78f4
}
@media screen and (max-width: 700px){
    .feature div h3,
    .feature div p{
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 420px){
    .feature{
        display:block;
    }
    .feature div h3,
    .feature div p{
        display: inline-block;
        text-align: left;
    }
}
@media screen and (max-width: 700px){
    .product{
        display:block;
    }
    .product .left{
        width:100%;
    }
    .product .left p{
        display:inline-block;
        padding-bottom:2rem;
    } 
    .product .right{
        width:100%;
    }
 }
 @media screen and (max-width: 420px){
   .product .right .ri-item{
       flex-wrap:wrap;
   }
   .product .right .ri-item .ri-item-go{
        width:100%;
        text-align: center;
        border-top:1px solid #ccc;
   }
 }

.rear{
    width: 100%;
}
.rear .rear-cont{
    width:90%;
    margin:2rem auto;
    display: flex;
    border-top:2px #ccc;
}
.rear .rear-cont p,
.rear .rear-cont ul{
    flex:1;
    margin-right:1rem;
}
.rear .rear-cont p img{
    width:80%;
}
